@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";
body {
  font-family: "Hind Siliguri", sans-serif;
  font-weight: 700;
  font-style: normal;
}
